<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <h1>Edit Page</h1>

    <form action= '/edit_saved_id' method="POST">
    <p>First Name:   <input type="text" name="first_name" > </p>
     <p>Last Name: <input type="text" name="last_name" > </p>
    <p>Email: <input type='email' name = 'new_email' placeholder="enter valid email"></p>
     <p>  <input type="submit" name = 'submit_new_email' value="UPDATE USER EMAIL"></p>
    </form>
    <a href="/"> Go Back</a>
</body>
</html>