<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <h3>Enter Valid email </h3>
    {% with messages = get_flashed_messages() %}
        {% if messages %}
          {% for message in messages %}
            <p>{{message}}</p>
          {% endfor %}
        {% endif %}
      {% endwith %}
    <form action= '/add_email_record' method="POST">
    <input type="email" name="find_email" >
    <input type="submit" name="submit", value="SUBMIT">
    </form>
    <a href='/display_record'><input type='submit' name="display" value="Show all emails"></a>
    <table>
        <hr>
        <tr>
            <th>ID</th>
            <th>EMAIL </th>
            <th>Created at </th>
          
        </tr>
        <hr>
        
        {% for item in email_found %}
        <tr>
            <td> {{item['id']}}</td>
            <td>{{item['email']}}</td>
            <td>{{item['created_at']}}</td>
            <td><a href='/delete_user/{{item['id']}}'> Delete</a></td> 
             <td><a href ='/edit_user/{{item['id']}}'> Edit </a></td> 
        </tr>
        {% endfor %}
    </table>
</body>
</html>