<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <h1>List of my friends </h1>
    <p>Name : Maria</p>
    <p>Occupation : none  </p>
    <hr>
    <p>Name : Emaan</p>
    <p>Occupation : none  </p>
    
    
        {% for friends in All_friends%}
        <p>Name : {{friends['first_name']}}</p>
        <p>Occupation : {{friends['occupation']}}  </p>
        <hr>
        {%  endfor %}
        <h2> Add a Friend </h2>
        <hr>
        <form action='/friends' method="POST"> 
            <input type="text" name="first_name" >
            <input type="text" name="occupation" >
            <input type="submit" name="ADD FRIENDS" >
    
        </form>
       
</body>
</html>